// header component with all children
.header-component {
    background-color: #2f2f2f;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    z-index: 2;
    position: fixed;

    .header-particles {
        position: absolute;
        height: 150px;
        width: 100%;
    }
    // background image
    .header-background {
        position: absolute;
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-image: linear-gradient(#2dd8ff, rgba(255, 0, 0, 0)) 150;
        border-width: 15px;
        border-style: solid;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
    .header-links {
        z-index: 1;
        height: 100px;
        width: 100px;
        margin: 25px 50px;
        border-radius: 50%;
        transition: 0.5s;
        // logo hs3
        .links-logo {
            height: 150px;
            margin-top: -25px;
            margin-left: -25px;
        }
    }

    .header-links:hover {
        cursor: pointer;
        box-shadow: 0px 0px 20px 18px #2dd8ff, inset 0px 0px 20px 5px #2dd8ff;
    }

    .active-header {
        cursor: pointer;
        box-shadow: 0px 0px 20px 18px #2dd8ff, inset 0px 0px 20px 5px #2dd8ff;
    }

    // navigation menu
    .header-nav {
        text-transform: uppercase;
        z-index: 1;

        ul {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: row;
            gap: 50px;

            li {
                list-style-type: none;
                height: 100%;
                font-family: "neuropol";
                font-size: 25px;
                display: flex;
                align-items: center;

                .nav-links {
                    list-style-type: none;
                    text-decoration: none;
                    color: #f4f4f4;
                    padding: 10px;
                    transition: 0.5s;
                }

                .nav-links:hover {
                    color: #0bb7cb;
                    box-shadow: 0px 0px 15px 10px #2dd8ff, inset 0px 0px 12px 5px #2dd8ff;
                }

                .active-links {
                    color: #0bb7cb;
                    box-shadow: 0px 0px 15px 10px #2dd8ff, inset 0px 0px 12px 5px #2dd8ff;
                }
            }
        }
    }
    // button container
    .button-flags {
        width: 43px;
        height: 26px;
        border: 0;
        padding: 0;
        position: fixed;
        bottom: 50px;
        left: 50px;
        transition: 0.5s;
        // background image
        .flagbg {
            position: relative;
            top: -18px;
            left: -20px;
        }
        // Language image
        .flags {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    .button-flags:hover {
        cursor: pointer;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .header-component {
        height: 125px;

        .header-particles {
            height: 125px;
        }

        .header-background {
            height: 125px;
        }

        .header-links {
            height: 75px;
            width: 75px;

            .links-logo {
                height: 125px;
            }
        }

        .header-nav {

            ul {
                gap: 40px;

                li {
                    font-size: 20px;
                }
            }
        }
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .header-component {
        height: 100px;

        .header-particles {
            height: 100px;
        }

        .header-background {
            height: 100px;
        }

        .header-links {
            height: 50px;
            width: 50px;

            .links-logo {
                height: 100px;
            }
        }

        .header-nav {

            ul {
                gap: 20px;

                li {
                    font-size: 16px;
                }
            }
        }

        .button-flags {
            left: 35px;
        }
    }
}